body {
    margin: 0;
    background-color: black;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#alerts-wrapper {
    position: absolute; /* Use fixed to keep alerts in view as the page scrolls */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure it's above other content but below modals */
    pointer-events: none; /* Allow clicks to pass through */
}

.alert {
    width: 100%;
    z-index: 1000;
    margin-bottom: 10px; /* Spacing between alerts */
    pointer-events: auto;
}

#newMeasurementSidebar {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #a7e310;
    border-radius: 5px;
    padding: 10px;
    font-family: Arial, sans-serif;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#savedMeasurementsSidebar {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #a7e310;
    border-radius: 5px;
    padding: 10px;
    font-family: Arial, sans-serif;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#savedMeasurementsContent {
    width: 100%;
    height: 250px; /* Set a fixed height for the sidebar */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc; /* Optional: Add a border for better visibility */
    padding: 10px; /* Optional: Add some padding */
    background-color: #f9f9f9; /* Optional: Set a background color */
}

.measurement-container {
    margin-bottom: 10px;
    background-color: #007bff;
    width: 100%;
}

.add-panel-buttons {
    position: absolute; /* Make them absolute to control placement */
    top: 75px; /* Adjust based on your layout */
    left: 10px; /* Adjust based on your layout */
    z-index: 10; /* Make sure they're on top */
    background-color: #484444;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1 {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ffffff;
}

.input-group .form-control[type="color"] {
    height: calc(2.25rem + 2px); /* Same height as Bootstrap form controls */
    padding: 0.375rem 0.75rem;   /* Same padding as other input types */
    max-width: none;             /* Remove any automatic width constraints */
    display: flex;
    align-items: center;
    z-index: 1001;
}